header {
  border-bottom: 1px solid #ececec;
  background-color: $secondary-bg-color;
}

/* ====================== Кнопки-фильтры ============================= */

/* ===   Бэкграунд секции ============= */
.jobs {
  background-color: $main-bg-color;
}

/* ========== Блок с кнопками ========= */
.filter .list {
  display: flex;
  justify-content: center;
}

.filter li:not(:last-child) {
  margin-right: 8px;
}

/* === Отступ секции main/header/footer ==== */
.main-box {
  padding-top: 93px;
  padding-bottom: 94px;
}

/* ==== Нижний отступ от фильтров ====== */
.filter {
  margin-bottom: 50px;
}
